.DS_Store
/platforms/
/lib/

/app/**/*.js
/app/**/*.map
!/app/tns_modules/**/*.js
/node_modules/
!/node_modules/a-nativescript-ecg-sleep-analysis/
hooks/

*.tgz

/keystore/
*.apk
*.ipa

Telerik.keystore

GoogleService-Info.plist
google-services.json