@keyframes logo-cover {
    0% {
        transform: scale(18, 18), translate(0, 0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    21.25% {
        transform: scale(1, 1), translate(0, -60);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    22% {
        transform: scale(0, 0), translate(0, -60);
        opacity: 0;
    }
    100% {
        transform: scale(0, 0), translate(0, -60);
        opacity: 0;
    }
}


@keyframes logo-img {
    0% {
        transform: translate(0, 0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        opacity: 0;
    }
    21% {
        transform: translate(0, -60);
        opacity: 1;
    }
    30% {
        transform: translate(0, -60);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        opacity: 1;
    }
    51% {
        transform: scale(0.56, 0.56), translate(0, -205);
    }
    100% {
        transform: scale(0.56, 0.56), translate(0, -205);
    }
}

@keyframes btn-sign-up {
    0% {
        opacity: 0;
        transform: translate(0, 280);
    }
    47.5% {
        opacity: 0;
        transform: translate(0, 280);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    66.25% {
        opacity: 1;
        transform: translate(0, 70);
    }
    100% {
        opacity: 1;
        transform: translate(0, 70);
    }
}


@keyframes btn-sign-in {
    0% {
        opacity: 0;
        transform: translate(0, 175);
    }
    66.25% {
        opacity: 0;
        transform: translate(0, 175);
    }
    86.75% {
        opacity: 1;
        transform: translate(0, 175);
    }
}


@keyframes btn-guestmode {
    0% {
        opacity: 0;
        transform: translate(0, 260);
    }
    88.25% {
        opacity: 0;
        transform: translate(0, 260);
    }
    100% {
        opacity: 0.8;
        transform: translate(0, 260);
    }
}

.logo-cover {
    width:93;
    height:93;
    border-radius:50%;
    animation-name: logo-cover;
    animation-duration: 4;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color:#3C5AFD;
}

.logo-img {
    animation-name: logo-img;
    animation-duration: 4;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    margin-top: 30;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    width: 250;
    height: 250;
}

.btn-sign-up {
    width:80%;
    border-radius:50%;
    margin-top:22;
    animation-name: btn-sign-up;
    animation-duration: 4;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn-sign-in {
    width:80%;
    margin-top:22;
    animation-name: btn-sign-in;
    animation-duration: 4;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn-guestmode {
    fontSize:14;
     color:white;
    animation-name: btn-guestmode;
    animation-duration: 4;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.default-background {
    background-color: #151F2F;
}

.example-intro {
    opacity: 0;
}

.example-label {
    margin: 0 8;
    text-align: center;
}

.example-new {
    margin: 10;
    horizontal-align: left;
    vertical-align: top;
}
.letter-center{
    horizontal-align:center;
    vertical-align:center;
}