@keyframes picture {
    from {
        opacity: 0;
        transform: scale(2, 2);
        animation-timing-function: ease-in;
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes play {
    from {
        opacity: 0.3;
        transform: scale(0.6, 0.6);
    }
    60% {
        opacity: 0.6;
        transform: scale(1.1, 1.1);
        animation-timing-function: ease-in;
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.label {
    padding-top: 15;
    font-size: 17;
}

.v-label {
    padding-top: 15;
    border-bottom: 1px gray solid;
    color: #000;
}

.gender-label {
    padding-top: 15;
    border-bottom: 1px gray solid;
    color: #000;
}